
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")

</head>
<body>
    <h1>ABOUT ME</h1>
    <br />
    
  <div class="container-fluid">
    
    
    <div class="row" style="background-color:lightblue">
        <div class="col-lg-6">
            I am Kgaogelo Boledi Puka, a young, ambitious and goal-driven girl, who has  impressive communication skills, a creative thinking and problem solving mind and is  able to work exceptionally well even under pressure and has got leadership skills.
            <br />
            <br />
            I am  currently a second year student in BIT Information Systems under the Engineering,  Built environment and Information Technology Faculty at the University of Pretoria.
            My core modules include Database Analysis and Design,System analysis and Design and PROGRAMMING.
            <br />
            <br />
            Academically I am an exceptional performer, In highschool I have been part of the top 10, quite a number of times and I have also received a number of academic awards.
            <br />
            <br /> Besides acaademic awards, I have also received awards for academic related competitions,
            In 2018,I was awarded a 2nd place certificate in  the SAICA Coronation Business Games.
            In May 2022, I participated in the BDO 2022 Virtual Hackathon and managed to get 2nd place in the 1st phase.
            <br />
            <br />
            In 2015, I was chosen to be one of the grade 7 prefects. Early 2018, I was elected as  the secretary of the ELCSA, Sedibeng Congregation Prayer Youth League.
            <br />
            <br />
            In my spare time, I love reading novels, cooking, playing board games and spending  time with family and friends.

        </div>
        <div class="col-lg-3">
            <img style="width:555px;height:443px" src="/20220319_152424.jpg" />
        </div>
    </div>
    </div>
    


</body>
</html>


